* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Hind', sans-serif;
}

a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem 0;
  width: 10rem;
}

.logoImg {
  max-width: 100%;
  height: auto;
}

.nav-link {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 0.8rem;
  border: none;
  margin: 0 1rem;
  letter-spacing: 0.5px;
  font-family: "poppins", sans-serif;
  font-weight: 700;
}

.nav-link a {
  color: #141618;
  transition: color 0.2s ease-in-out;
}

.nav-link:first-child {
  margin-left: 0;
}

.nav-link:last-child {
  margin-right: 0;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: rgba(234, 234, 234, 0.5) solid 1px;
  box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
  transition: background-color 0.2s ease-out;
}

.navbar-transparent {
  background-color: transparent;
  border-bottom: rgba(255, 255, 255, 0.15) solid 1px;
}

.navbar-transparent .nav-link a {
  color: #fff;
}

.nav-link.active a,
.nav-link:hover a {
  color: #777777 !important;
}

.footer {
  width: 100%;
  background-color: #141618;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.FooterIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  color: white;
}

.Icon {
  margin: 0 15px;
  color: white;
  transition: all 0.2s ease-in-out;
}

.Icon:hover {
  color: #1081d1;
  transform: scale(0.9);
}

.Copyright {
  color: white;
  font-size: 0.8rem;
}

.SecondSectionInfo {
  width: 70%;
  padding: 50px 50px;
  display: flex;
  align-items: flex-start;
}

.SecondSection {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 50px;
  margin-bottom: 4em;
  justify-content: space-around;
}

.img {
  position: relative;
  top: 20px;
  margin-right: 30px;
}

.title {
  font-size: 18px;
  font-weight: bolder;
}

.Description {
  color: #777777;
}

.slider-container {
  width: 100%;
  background-image: url("./assets/main_Background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center -10rem;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .text-container {
  color: #fff;
  text-align: center;
  padding-top: 115px;
  font-family: 'Poppins', sans-serif;
}

.slider-container .text-container h1 {
  font-size: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 75px 36px;
  margin: 0 36px;
}

.about-container>div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: #eaeaea 1px solid;
}

.about-container .headers-container {
  display: flex;
  font-size: 12px;
}

.about-container .headers-container p {
  text-transform: uppercase;
  padding: 0 1.1rem 1.1rem 1.1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2em;
  cursor: default;
}

.about-container .headers-container p.active {
  color: #1081d1;
  border-bottom: #1081d1 2px solid;
}

.about-container .headers-container p:not(.active) {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.about-container .headers-container p:not(.active):hover {
  color: #1081d1;
}

.about-container>p {
  color: #777777;
  line-height: 1.75;
  font-size: 1.12rem;
}

.info-container {
  background-color: #1081d1;
  color: #fff;
}

.info-container>div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  column-gap: 36px;
  row-gap: 72px;
  padding: 75px 36px;
  margin: 0 36px;
}

.info-card {
  display: flex;
}

.info-card .icon-container {
  font-size: 1.7rem;
}

.info-card .card-details {
  padding-left: 1.5rem;
}

.info-card .card-details h3 {
  line-height: 1.5;
  font-size: 1rem;
}

.info-card .card-details p {
  font-size: 0.9rem;
}

@media screen and (max-width: 960px) {
  .navbar {
    background-color: #fff;
  }

  .navbar-transparent .nav-link a {
    color: #141618;
  }
}

@media screen and (max-width: 720px) {

  .SecondSection,
  .info-container>div {
    grid-template-columns: auto auto;
  }

  .slider-container {
    height: 36rem;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {

  .SecondSection,
  .info-container>div {
    grid-template-columns: auto;
  }

  .about-container {
    padding: 75px 18px;
  }

  .info-container>div {
    padding: 75px 0;
  }

  .footer {
    flex-direction: column;
  }
}