.Content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin-left:auto;
}

.ContentButton{
  background-color:transparent;
  font-size:20px;
  font-style:normal;
  border:none;
  color:#656c73;
  margin-right:1em;
  font-style: Bold;
  font-weight: 500;
}

.FooterIcons{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
  padding:5px;
  margin:0 5px;
}